#capa {
    padding-top: 15%;
    color: yellow;
    text-align: center;
    background-image: url(https://images.pexels.com/photos/2893181/pexels-photo-2893181.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    height: 103%;
    background-size: cover;
    font-size: 200%;
    margin: -8px;
}
#introdution {
    text-align: center;
}
.inicio {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}
#title {
    text-align: center;
    background-color: yellowgreen;
    padding: 30px;
}
iframe {
    padding: 20px;
}